
.navbar .navbar-nav .nav-item .btn {
    margin-right: 40px; 
    color: #fff; 
    border-color: blue; 
  }
  
  .navbar .navbar-nav .nav-item .btn:hover {
    background-color: blue; 
    border-color: blue; 
  }
.container{
  margin-bottom: 0;
  margin-top: 0;
  width: 100%;
}
.navbar{
    background-color: black;
    margin: 0em;
    top: 0;
    width: 100%;
}
.btn{
    margin: 10px;
}


